<%- include ("includes/header", {
    "title": "Admin Panel"
 }) %>
 <div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="row">
        <div class="col-md-12">
            <h2>Admin panel </h2>
        </div>
    </div>

    <!--<img src="<%= request.mainURL %>/public/img/blur-blog.png" style="width: 100%;" />-->
</div>
<!-- <img src="<%= request.mainURL %>/public/img/blur-admin-panel.png" style="width: 100%;" />-->